.elementor-23 .elementor-element.elementor-element-0c3b2bb{--display:flex;--background-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-0c3b2bb:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-0c3b2bb > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-23 .elementor-element.elementor-element-0c3b2bb, .elementor-23 .elementor-element.elementor-element-0c3b2bb::before{--border-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-6496713{text-align:center;}.elementor-23 .elementor-element.elementor-element-6496713 .elementor-heading-title{color:#FFFFFF;font-family:"Syne", Sans-serif;font-size:38px;font-weight:800;text-transform:uppercase;}.elementor-23 .elementor-element.elementor-element-8f6d232{--display:flex;--background-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-8f6d232:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-8f6d232 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-23 .elementor-element.elementor-element-8f6d232, .elementor-23 .elementor-element.elementor-element-8f6d232::before{--border-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-1d51011{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:1px;}.elementor-23 .elementor-element.elementor-element-1d51011 .elementor-divider-separator{width:100%;}.elementor-23 .elementor-element.elementor-element-1d51011 .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-23 .elementor-element.elementor-element-f1525ee{--display:flex;--background-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-f1525ee:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-f1525ee > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-23 .elementor-element.elementor-element-f1525ee, .elementor-23 .elementor-element.elementor-element-f1525ee::before{--border-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-3fa5ff1{text-align:left;}.elementor-23 .elementor-element.elementor-element-3fa5ff1 .elementor-heading-title{color:#FFFFFF;font-family:"Syne", Sans-serif;font-size:30px;font-weight:700;}.elementor-23 .elementor-element.elementor-element-a28771f{--display:grid;--e-con-grid-template-columns:repeat(4, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--grid-auto-flow:row;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-23 .elementor-element.elementor-element-a28771f:not(.elementor-motion-effects-element-type-background), .elementor-23 .elementor-element.elementor-element-a28771f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-23 .elementor-element.elementor-element-a28771f, .elementor-23 .elementor-element.elementor-element-a28771f::before{--border-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-9253e16{--display:flex;--background-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-1c3f025.elementor-element{--align-self:center;}.elementor-23 .elementor-element.elementor-element-41a7593{--display:flex;--background-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-8057746.elementor-element{--align-self:center;}.elementor-23 .elementor-element.elementor-element-3b90d06{--display:flex;--background-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-08d7170.elementor-element{--align-self:center;}.elementor-23 .elementor-element.elementor-element-86344ad{--display:flex;--background-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-5a73d16.elementor-element{--align-self:center;}.elementor-23 .elementor-element.elementor-element-4d2d9b6{--display:flex;--background-transition:0.3s;}.elementor-23 .elementor-element.elementor-element-475e9cf{--divider-border-style:solid;--divider-color:#000000;--divider-border-width:1px;}.elementor-23 .elementor-element.elementor-element-475e9cf .elementor-divider-separator{width:100%;}.elementor-23 .elementor-element.elementor-element-475e9cf .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-23 .elementor-element.elementor-element-9262efd{--display:flex;--background-transition:0.3s;}@media(max-width:1024px){.elementor-23 .elementor-element.elementor-element-a28771f{--grid-auto-flow:row;}}@media(max-width:767px){.elementor-23 .elementor-element.elementor-element-a28771f{--e-con-grid-template-columns:repeat(1, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--grid-auto-flow:row;}}/* Start custom CSS for html, class: .elementor-element-1c3f025 *//* Conteneur de la quantité */
.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Champ de l'input pour la quantité */
.quantity-container input[type="number"] {
	display: flex;
  width: 39px;
  height: 56px;
	justify-content: center;
  text-align: center;
  border: none;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

/* Boutons plus et moins */
.quantity-container button {
  background-color: #DC9F96;
  border: none;
  padding: 0;
  width: 50px; /* Assure la même largeur que l'input */
  height: 40px; /* Taille uniforme pour les boutons */
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.quantity-container .minus-btn {
  border-left: 1px solid #fff;
}

/* Bouton OK */
.ok-btn {
  background-color: #DC9F96;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

/* Styles optionnels pour espacement */
.quantity-container,
.ok-btn {
  margin: 5px 0;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-8057746 *//* Cacher les flèches dans les champs de type number sur Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
}

/* Styliser l'input */#quantity {
    width: 39px; /* Ajuste la largeur */
    height: 56px; /* Ajuste la hauteur */
    text-align: center;
    border: none;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border-radius: 5px; /* Pour avoir des coins arrondis */
}/* End custom CSS */